# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Harmony.Analytics.Tests/obj/

Harmony.Analytics/obj/

Harmony.Model/obj/

Harmony.Tests.Common/obj/

TimeSeriesAccumulator/obj/

.vs/TimeSeriesAccumulator/v17/.suo

.vs/TimeSeriesAccumulator/project-colors.json

.vs/TimeSeriesAccumulator/v17/.futdcache.v1
